@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    @apply bg-neutral-50 text-neutral-900 transition-colors duration-500 ease-in-out;
  }
  .dark body {
    @apply bg-neutral-900 text-neutral-50;
  }
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}
::-webkit-scrollbar-track {
  background: transparent;
}
::-webkit-scrollbar-thumb {
  @apply bg-neutral-300 dark:bg-neutral-700;
  border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
  @apply bg-neutral-400 dark:bg-neutral-600;
}
